.resp-home {
height: 900px;
background-image: url(../public/images/img_resp_home.png); background-size: cover;
background-repeat: no-repeat;
width: 100%;
@media only screen and (max-width: 1050px) { height: auto;
}
}

.columnhome {
margin-bottom: 34px;
gap: 306px;
display: flex;
flex-direction: column;
@media only screen and (max-width: 1050px) { gap: 229px;
                                           }
@media only screen and (max-width: 550px) { gap: 153px;
                                          }
}

.header {
display: flex;
background-color: var(--white_a700_26);
  justify-content: space-between;
align-items: center;
gap: var(--space-2x1);
@media only screen and (max-width: 1050px) { flex-direction: column;
                                           }
}
                                            
.columnlocatedat {
gap: 132px;
display: flex;
flex-direction: column;
align-items: end;
@media only screen and (max-width: 1050px) { gap: 99px;
                                           }
@media only screen and (max-width: 550px) { gap: 66px;
                                          }
}

.titlecard {
gap: 38px;
display: flex;
align-self: stretch;
flex-direction: column;
align-items: start;
}

.welcome-column {
display: flex;
flex-direction: column;
align-items: end;
}

.address-card {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
gap: 30px;
display: flex;
background-color: var(--blue_gray_900_33);
width: 30%;
flex-direction: column;
padding: var(--space-x1);
border: 1px solid var(--white_a700);
@media only screen and (max-width: 1050px) { width: 100%;
                                           }
  
.address-card___location {
color: var(--white_a700) !important;
text-align: right;
line-height: 121.46%;
font-style: italic !important;
}
  
.address-card___location-span {
font-weight: 400;
}
  
.address-card___address {
text-align: right;
line-height: 24px;
}
  
.button--book {
color: var(--white_a700) !important;
margin-right: 92px;
padding-left: var(--space-xs);
padding-right: var(--space-xs);
font-family: Syne;
font-size: 16px;
font-weight: 700;
background-color: var(--cyan_800_66) !important;
box-shadow: 0 0 6px 1px 000000031 !important;
height: 38px;
min-width: 154px;
border-radius: 8px !important;
@media only screen and (max-width: 1050px) {
margin-right: 0px;
}
}
