/* HIGH-LEVEL FONT SETTINGS */

* {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}

/* OVERRIDING DEFAULT LINK SETTINGS */
a {
    text-decoration:none !important;
    border-bottom: none!important;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}


/* HEADER STYLE ELEMENTS (Applies to all pages) */

.header{
    /*border: solid green;*/
    height:max-content;
    display: flex;
    align-items:stretch;
    gap: 20px;
    /*border: solid red;*/
}


#logo {
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 8px;
    /*border: solid black*/
}

.header_nav_divider_title{
    /*border: solid red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative
    
}

.header_pageBreak {
    border-top: 5px solid black;
    width: 100%;
    position: absolute;
    bottom: 50%;
}

/* NAVIGATION STYLE ELEMENTS (applies to all pages) */

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    /*border: solid red;*/
    height: 40%;
    margin-right:20px
}

.navigation_button{
    /*border: solid blue;*/
    font-family: Arial, sans-serif;
    font-size: 22px;
    margin: 50px 30px 30px 30px; 
    text-decoration:none !important;
    border-bottom: none!important;
}

.navigation_button:hover{
    font-size: 22px;
    font-weight: bold;
    background-color: yellow;
}

.navigation_button,
.navigation_button:link,
.navigation_button:visited,
.navigation_button:hover,
.navigation_button:active {
    text-decoration: none !important;
    border-bottom: none !important;
}

/*
* {
    text-decoration: none !important;
} /*got this from stack-overflow because browsers style was overriding my styling*/

.page_header{
    /*border: solid blue;*/
    font-size: 30px;
    max-width: 100%;
    text-align: left;
    margin-bottom: 5px;
    margin-top:0px;
    position: absolute;
    bottom: 10%;
}

/* BODY STYLE ELEMENTS (Product Gallery page only) */

.pg_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-left:50px;
    margin-right:50px;
    /*border: solid blue*/
}

.pg_productOverview {
    max-width: 285px;
    padding: 5px;
    margin: 10px;
    text-align: left;
    transition: background-color 0.15s ease-in-out; /*found this on stack-overflow to help make button color change less jarring*/
    /*border: solid black*/
}

.pg_productOverview:hover {
    background-color: yellow;
}

.pg_productPhoto {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 100%;
    height: auto;
    margin-bottom: 2px;
}

.pg_productName {
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 2px;
    line-height: 1;
}

.pg_productOverview:hover .pg_productName {
    font-weight: bold;
}


.pg_productPrice {
    margin-top: 0px;
    margin-top: 0px;
    line-height: 1;
}

.pg_productName, .pg_productPrice{
    font-size: 18px;
}


/* BODY STYLE ELEMENTS (Shopping cart page only) */

.cart_body {
    max-width: 850px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right:8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid red;*/
}


.cart_productOverview {
    /*border: solid green;*/
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.left_box {
   /*border: solid blue;*/
    display: flex;
    flex-direction: column;
}

.cart_productPhoto{
    width: 220px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.cart_removeButton{
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;
    /*border: solid black;*/
    margin-bottom: 10px
}

.right_box {
    position: relative;
    margin-top:-90px;
    /*border: dotted blue;*/
    width: 100%;
    margin-left: 20px;
    display: flex;
    align-items:center;
    
}

.right_box_options {
    /*border: solid red;*/
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart_productName,
.cart_productGlazing,
.cart_productPackSize {
    /*border: solid black;*/
    font-size: 26px;
    font-weight: 40;
    max-width: 100%;
    min-width: fit-content;
    margin: 0;
    padding: 0
}

.cart_productName{
    text-decoration:none !important
}

.cart_productPrice {
    /*border: dotted red;*/
    margin-left: auto;
    max-width: 100%;
}


.cart_productPrice {
    font-size: 26px;
    max-width: 100%;
    margin-top: 0px;
    margin-top: 0px;
    line-height: 2;
}

/* FOOTER STYLE ELEMENTS (Shopping cart page only) */

.footer {
    width: 100%
}

.footer_pageBreak {
    width: 100%;
    border-top: 5px solid black;
}

.container_total{
    display: flex;
    /*border: solid orange;*/
    justify-content: flex-end;
}

.total_text{
    /*border: solid black;*/
    font-size: 26px;
    width: 60%
}

.total_amount{
    /*border: solid black;*/
    font-size: 26px;
}

.button_wrapper{
    display: flex;
    width:100%
}
.cart_button_checkout {
    margin-left:auto;
    display: inline-block;
    width: 140px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, transform 0.2s ease-in-out;
    /*found this on stack-overflow to help make button color change less jarring*/
}

.cart_button_checkout:hover {
    background-color: yellow;
}


/* BODY STYLE ELEMENTS (Product Detail page only) */

#pd_header {
    /*border-style: solid;
    border-color: black; I used these lines to help understand flexbox*/
    font-size: 24px;
    max-width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pd_productDetails {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    padding: 5px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /*border: solid blue;*/
}

.pd_productPhoto {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 600px;
    height: auto;
    margin-bottom: 2px;
    margin-left: auto;
}

.pd_customizationSection {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    /*border: solid black;*/
    padding-right: 80px;
}

.pd_CTA {
    /*border: solid black;*/
    max-width: 280px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 50px
    
}

.pd_dropdownSection{
    width: 260px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-items:center;
    gap: 15px;
    /*border:solid maroon;*/
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left:0px;
}

.pd_customization {
    /*border: solid red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.pd_customization_text {
    font-size: 24px;
    /*border: solid red;*/
    margin-bottom: 2px;
    line-height: 1;
}

.pd_dropdown {
    font-size: 22px;
    padding: 5px 10px;
    /*border: solid red;*/
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.pd_itemTotal {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: solid red;*/
    height: 50px;
    margin-top: 60px;
    margin-left: 0px;
    
}


.pd_itemTotal_price {
    /*border: solid black;*/
    font-size: 20px;
    font-weight: bold;
    margin-left: 0px;
    width: fit-content;
    height: fit-content;
    /*line-height: 1;*/
}

.pd_button_addToCart {
    /*border: solid red;*/
    width: 160px;
    height: 50px;
    font-size: 18px;
    margin: 2px;
    /*padding: 5px 20px;*/
    /*line-height: 1;*/
    transition: background-color 0.15s ease-in-out, transform 0.2s ease-in-out;
    /*found this on stack-overflow to help make button color change less jarring*/
}

.pd_button_addToCart:hover {
    background-color: yellow;
}
