/* global style settings */
.menu_button,
.ex_button,
.navHeader_menu,
.nav_sidebar {
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none; /* Removes bullet points */
}


/* Navigation menu_web browser */
.navHeader_homepage, .navHeader_nonHomepage {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 900;
}

.navHeader_nonHomepage {
    background-color: rgba(33, 127, 148, 0.713);
    backdrop-filter: blur(10px);
}

.navHeader_home {
    border: none;
    align-self: flex-start;
    flex: 0;
    flex-shrink: 0;
    padding: 6px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navHeader_home:hover {
    color: #d1f1ff9a; /* Lighter shade for hover */
}

.navHeader_menu {
    border: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    padding: 0;
    flex: 1;
    list-style: none;
    max-width: 100%;
}

.navHeader_menuItem {
    border: none;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
}

.navHeader_menuItem_text {
    border: none;
    color: white;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.navHeader_menuItem_text:hover {
    color: #d1f1ff9a;
}

.menu_button {
    border: none;
    display: none;
    z-index: 2000;
}

/* Navigation menu_Responsive states */
.nav_sidebar {
    border: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 60px;
    position: fixed;
    top: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav_sidebar li {
    border: none;
    width: 100%;
}

.nav_sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.navSidebar_menuItem {
    border: none;
    display: block;
    align-self: flex-start;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.navSidebar_menuItem_text {
    border: none;
    padding: 16px 24px;
    margin: 0px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.navSidebar_menuItem_text:hover {
    color: #d1f1ff9a;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu_button {
        display: block;
    }
}

@media (max-width: 400px) {
    .nav_sidebar {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
    .menu_button {
        display: block;
    }
}


/* Booking button */
.button_bookOnAirbnb {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    position: fixed; /* Fix the button to the bottom */
    bottom: 20px; /* 20px from the bottom of the viewport */
    right: 2%; /* Center horizontally */
    background-color: rgba(2, 114, 144, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 800; /* Ensure it's below the nav_sidebar */
}

.button__bookOnAirbnb:hover {
    background-color: #5b99b0; /* Darker shade for hover */
}


/* images */

.responsiveFrame {
    border: solid red 2px;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* Adjust the percentage for different aspect ratios (e.g., 75% for 4:3, 56.25% for 16:9) */
    box-sizing: border-box;
    margin: 0 auto;
}

.responsiveFrame .responsiveImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image scales properly */
    border: none;
}
    


